---
import { Image } from 'astro:assets';
import Tags from '@components/ui/Tags.astro';
import { Icon } from 'astro-icon';
//import { Debug } from 'astro/components';

interface Props {
	title: string;
	description: string | undefined;
	alt: string;
	tags: string[];
	url: { url: string; label: string }[] | undefined;
	children?: HTMLElement | HTMLElement[];
	img: string | ImageMetadata | undefined;
}
const { alt, title, tags, url, description, img } = Astro.props;
const getIconAndTitle = (label) => {
	const icons = {
		backend: {
			icon: 'code',
			title: 'Servidor',
		},
		frontend: {
			icon: 'language-html5',
			title: 'Cliente',
		},
		code:{
			icon:'code',
			title:'Código fuente'
		},
		web: {
			icon: 'web',
			title: 'Web',
		},
	};

	return icons[label];
};
---

<section
	class="flex flex-row justify-center items-stretch xl:min-w-[800px]  border border-black dark:border-white rounded-md"
>
	<section class="flex flex-col h-full w-full rounded-lg bg-transparent dark:bg-black/30 md:flex md:flex-row">
		<figure class="w-full h-full border border-black dark:border-white">
			<Image
			  oncontextmenu="return false"
			  width="100%"
			  height="100%"
			  src={img}
			  loading="lazy"
			  alt={alt}
			  class="h-full w-full rounded-t-lg object-contain md:object-contain md:h-auto md:rounded-none md:rounded-l-lg"
			/>
		  </figure>
		  
		<article class="flex flex-col justify-start flex-grow">
			<header class="p-4">
				<h5 class="mb-2 text-3xl font-medium text-neutral-800 dark:text-slate-400">
					{title}
				</h5>
				<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
					{description}
				</p>

				<Tags tags={tags} />
			</header>

			<footer class="flex flex-row  h-full justify-center p-4 border border-black dark:border-white">
				<div class="flex flex-row h-full justify-center gap-3">
					{
						url?.map(({ url, label }) => {
							const { icon, title } = getIconAndTitle(label);

							return (
								<a
									class={`${icon} flex-column flex items-center`}
									href={url}
									target="_blank"
									rel="noopener"
									aria-label={icon}
								>
									<Icon
										class={`${icon} h-10 text-xs md:h-10 `}
										name={`mdi:${icon}`}
									/>
									{title}
								</a>
							);
						})
					}
				</div>
			</footer>
		</article>
	</section>
</section>

<style>
	.code:hover,
	.language-html5:hover,
	.web:hover {
		filter: drop-shadow(2px 4px 6px rgba(254, 159, 222, 0.56));
	}
</style>
