---
import projectImage from '@assets/images/logo-2.png';
import { Image } from '@astrojs/image/components';
import Tags from '@components/ui/Tags.astro';

interface Props {
	title: string;
	alt: string;
	tags: string[];
	urlWeb: string | undefined;
	url: { url: string; label: string }[] | undefined;
	children?: HTMLElement | HTMLElement[];
}
const { alt, title, tags, urlWeb, url } = Astro.props;
---

<section
	class="flex flex-row max-w-[900px] justify-center  border border-black dark:border-white rounded-md"
>
	<section
		class="flex flex-col rounded-lg bg-transparent shadow-pinkligth dark:bg-transparent md:w-full md:flex-row"
	>
		<figure class="w-full h-full">
			<Image
				src={projectImage}
				loading="eager"
				alt={alt}
				class="h-96 w-full rounded-t-lg object-contain md:object-cover md:h-auto md:w-72 md:rounded-none md:rounded-l-lg"
			/>
		</figure>
		<article class="flex flex-col justify-start p-6">
			<header>
				<h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
					{title}
				</h5>
				<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
					This is a wider card with supporting text below as a natural lead-in to
					additional content. This content is a little bit longer.
				</p>
			</header>
			<footer>
				<p class="text-xs text-neutral-500 dark:text-neutral-300">
					Last updated 3 mins ago
				</p>
				<span class="font-normal text-gray-600 text-base">
					{
						url?.map(({ url, label }) => (
							<>
								<a
									href={url}
									target="_blank"
									rel="noopener noreferrer"
									class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700"
								>
									{label}
								</a>
							</>
						))
					}
				</span>
			</footer>
		</article>
	</section>
</section>
